# Dependencies
node_modules/

# Build output
dist/

# Test coverage
coverage/

# Editor
*.swp
*.swo
.*.sw*
.DS_Store

# IDE
.idea/
.vscode/
*.code-workspace

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local
